# Football Predict

<ul>
    <li>
        <h3>Presentation</h3>
        <ul>
            <li>Problématique</li>
            <li>Contexte</li>
        </ul>
    </li>
      <li>
        <h3>Collecte et exploration des données</h3>
        <ul>
            <li>Compréhension de la donnée</li>
            <li>Data visualisation</li>
            <li>Traitement / Encodage</li>
        </ul>
    </li>
      <li>
        <h3>Modélisation</h3>
        <ul>
            <li>Choix de l'algorithme</li>
            <li>Validation et interprétation</li>
        </ul>
    </li>
    <li>
        <h3>Conclusion</h3>
    </li>
</ul>

<h2>Presentation</h2>

<h4>Problématique</h4>
Peut-on prévoir les résultats de football grâce aux anciens résultats ?

<h4>Contexte</h4>
Le sujet concerne les résultats matchs internationaux de football de 1972 à 2019, les données proviennent du site Kaggle.

Les matchs vont de la "FIFA World Cup" à la "FIFI Wild Cup" en passant par les matchs amicaux réguliers.

Les matches internationaux et masculin. Les données n'incluent pas les Jeux Olympiques ni les matches avec des équipes nationale B, U23 ou une équipe sélectionnée par la Ligue.

<h2>Collecte et exploration des données</h2>

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("./results.csv")
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

<h4>Compréhension de la donnée</h4>
Nous avons les matchs avec la date et le nombre de buts à domicile et à l'extérieur sasn inclure les penaltys.
On a également comme information si c'est un match amical, le lieu et le pays de l'évènement et s'il est neutre.

Nous avons 41,540 résultats. En se basant sur ces résultats, nous pouvons avoir une prévision sur le résultat d'un match.

In [15]:
data.groupby(['home_team', 'away_team']).size()

home_team      away_team
Abkhazia       Artsakh                     1
               Chagos Islands              1
               Chameria                    2
               Kárpátalja                  1
               Northern Cyprus             2
               Occitania                   2
               Panjab                      1
               South Ossetia               2
               Sápmi                       1
               Tamil Eelam                 1
               Tibet                       1
               United Koreans in Japan     1
               Western Armenia             2
Afghanistan    Bangladesh                  2
               Bhutan                      3
               Cambodia                    2
               Chinese Taipei              1
               India                       5
               Japan                       1
               Jordan                      1
               Kyrgyzstan                  2
               Laos                        1
               Maldives                    3
               Nepal                       2
               Pakistan                    3
               Palestine                   1
               Qatar                       1
               Singapore                   2
               Sri Lanka                   2
               Syria                       2
                                          ..
Zimbabwe       Mauritius                   8
               Morocco                     2
               Mozambique                  3
               Namibia                     5
               Nigeria                     4
               Rwanda                      1
               Réunion                     1
               Senegal                     3
               Seychelles                  3
               Somalia                     1
               South Africa                4
               Switzerland                 1
               Tanzania                    5
               Togo                        2
               Tunisia                     1
               Uganda                      6
               Zambia                     30
Åland Islands  Bermuda                     1
               Falkland Islands            1
               Frøya                       1
               Gibraltar                   1
               Greenland                   4
               Guernsey                    2
               Isle of Man                 3
               Isle of Wight               2
               Jersey                      2
               Menorca                     2
               Saare County                2
               Shetland                    4
               Ynys Môn                    2
Length: 10975, dtype: int64